[Unit]
Description=Mullvad server list update service

[Service]
Type=oneshot

ExecStartPre=mkdir -p /var/tmp/mull-wg/servers
ExecStartPre=chown -R %u:users /var/tmp/mull-wg/servers
ExecStart=python3 /var/tmp/mull-wg/scripts/fetch_servers.py